<div class="decisions-tabs">
  <ul class="tabs-list" data-controller="decisions">
    <li class="<%= current_tab == 'comment' ? 'active' : '' %>">
      <%= link_to "コメント通報審査",
                  decisions_path(target_type: 'comment'),
                  data: {
                    turbo_stream: true,
                    action: "click->decisions#updateUrl",
                    target_type: "comment"
                  } %>
    </li>
    <li class="<%= current_tab == 'user' ? 'active' : '' %>">
      <%= link_to "ユーザー通報審査",
                  decisions_path(target_type: 'user'),
                  data: {
                    turbo_stream: true,
                    action: "click->decisions#updateUrl",
                    target_type: "user"
                  } %>
    </li>
  </ul>
</div>
