<% unless @pagination.page == 1 and @pagination.ahead == 0 %>
  <nav class="pagination">
    <% @pagination.window_numbers.each do |num| %>
      <% if num == @pagination.page %>
        <span class="is-current"><%= num %></span>
      <% else %>
        <%= link_to num, @pagination.page_path(
          base_path: request.path,
          page_num: num,
          query_params: local_assigns.fetch(:query_params, {})
        ), data: { turbo_frame: "reports-content" } %>
      <% end %>
    <% end %>
  </nav>
<% end %>
