<div id="modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>レポート作成</h2>
      <button type="button" class="close-button close-button-icon" data-controller="close-modal">×</button>
    </div>

    <div class="modal-body">
      <%= render "form", topic: topic, report: report %>
    </div>
  </div>
</div>
