<div class="reports-tabs" data-controller="reports">
  <ul class="tabs-list">
    <li class="<%= current_tab == 'comment' ? 'active' : '' %>">
      <%= link_to t('.comment_reports_title'),
                  reports_path(target_type: 'comment'),
                  data: {
                    action: "click->reports#updateUrl"
                  } %>
    </li>
    <li class="<%= current_tab == 'user' ? 'active' : '' %>">
      <%= link_to t('.user_reports_title'),
                  reports_path(target_type: 'user'),
                  data: {
                    action: "click->reports#updateUrl"
                  } %>
    </li>
  </ul>
</div>
